@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
    margin: 50px auto;
    width: 400px;
}

#login h2 {
    background-color:rgb(124, 150, 250);
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#login fieldset {
    background-color: #fff;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    padding: 25px 26px;
}

#login fieldset p {
    color: #777;
    margin-bottom: 12px;
}

#login fieldset p:last-child {
    margin-bottom: 0;
}

#login fieldset input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login fieldset input[type="name"], #login fieldset input[type="password"] {
    background-color: #eee;
    color: #777;
    padding: 12px 10px;
    width: 328px;
    font-size:12px;
    vertical-align:middle;
    border:0.5px solid #f0ead8;
}
#login fieldset input[type="checkcode"]{
    background-color: #eee;
    color: #777;
    padding: 6px 3px;
    width: 93px;
    margin-top:10px;
    border:1px solid #a1a1a1;
}

#login fieldset input[type="button"] {
    background-color: rgb(124, 150, 250);
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
}
#login fieldset a[id="register"]{
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 5px;
    float:right;
    text-decoration: none;
}